version: '3'

services:
  srv-bd-postgresql:
    image: postgres
    environment:
      POSTGRES_PASSWORD: "curso"
    ports:
      - "15432:5432"
    volumes:
      - /home/luisjesus/Dev/Docker-Compose/PostgreSQL:/var/lib/postgresql/data
      networks:
      - srv-postgres-network
      
  srv-pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "luisjesus.ti@gmail.com"
      PGADMIN_DEFAULT_PASSWORD: "curso"
    ports:
      - "16543:80"
    depends_on:
      - srv-bd-postgresql
    networks:
      - srv-postgres-network

networks: 
  srv-postgres-network:
    driver: bridge